.wrapper {
  margin-left: 50px;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.block {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 200px;

  padding: 15px 50px 15px 15px;

  border-radius: 5px;
  box-shadow: 5px 5px 20px -7px rgba(66, 68, 90, 1);
}

ul {
  padding: 0px;
}
li {
  margin-bottom: 5px;
}

label {
  margin-bottom: 5px;

  font-size: 16px;
}

input {
  display: flex;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  max-width: 160px;

  border: 1px solid black;
  border-radius: 5px;

  &:hover,
  &:focus {
    border: 2px solid teal;
  }
}

.btn {
  width: 100px;
  padding: 5px;

  cursor: pointer;

  font-weight: bold;

  border: 1px solid black;
  border-radius: 5px;

  background-color: transparent;

  &:hover,
  &:focus {
    background-color: wheat;
  }
}

.btnDelete {
  padding: 5px;
  margin-left: auto;

  cursor: pointer;

  text-align: center;

  border: 1px solid black;
  border-radius: 5px;

  background-color: transparent;

  &:hover,
  &:focus {
    background-color: wheat;
  }
}

.blockItem {
  display: flex;
  align-items: baseline;
  text-align: center;
  max-width: 323px;
  margin-bottom: 15px;
}
